<!DOCTYPE html>
<html lang="ru">

    <link rel="stylesheet" href="/static/css/base.css">
    {% block styles %}
    {% endblock %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    </head>
<body>
    <div class="dark-or-light">
        {% include 'include/sidebar.html' %}
        {% include 'include/loading.html' %}
        {% block content %} {% endblock %}
    </div>

    <script src="/static/js/base.js"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
